body{
    font-family: arial, tahoma, sans-serif;
}
ul, li{
    display: inline-block;
    padding: 0px;
}
.header{
    width: 100%;
    height: 80px;
    background: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}
.headline{
    width: 100%;
    height: 10px;
    background: dodgerblue;
    position: fixed;
    top: 70;
    left: 0;
    z-index: 4;
}
.footer{
    width: 100%;
    height: 40px;
    background: #333;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
}
.leftmenu{
    min-width: 100px;
    width: 20%;
    height: 100%;
    background: #DDDDDD;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 80px;
    z-index: 2;
}
.toggle_tab{
    width:100px;
    height: 40px;
    background: dodgerblue;
}
.toggle_tab2{
    width:100px;
    height: 40px;
    background: #a0b9d2;
}
.toggle_tab3{
    width:100px;
    height: 40px;
    background: #adc8fa;
}
#toggle_box_1{
   min-width: 100px;
   position: fixed;
   width: 20%;
   height: 90%;
   margin-top: -20px;
   background: dodgerblue;
   opacity: 1;
}
#toggle_box_2{
    min-width: 100px;
    position: fixed;
    width: 20%;
    height: 90%;
    margin-top: -20px;
    background: #a0b9d2;
    opacity: 1;
}
#toggle_box_3{
    min-width: 100px;
    position: fixed;
    width: 20%;
    height: 90%;
    margin-top: -20px;
    background: #adc8fa;
    opacity: 1;
}
.authorize{
    float: right;
    padding: 25px;
}
.content {
    height: 20%;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 20%;
    padding: 20px;
}
.form {
    width: 200px;
    border: 1px solid white;
    border-radius: 10px;
    color:  #333;
    font-size: 12px;
    padding: 3px;
    margin-top: 20px;
}
#log_toggled {
    position: fixed;
    top: 70px;
    right: 10px;
    opacity: 0;
    z-index: 2;
}
.form_container{
    border-radius: 10px;
    padding: 20px;
    width: 220px;
    background: dodgerblue;
}
.legend{
    color: white;
   margin-top: 20px;
}
.button {
    width: 100px;
    border: 1px solid white;
    border-radius: 10px;
    background: dodgerblue;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    font-size: 12px;
    color: white;
    padding: 3px;
    margin-top: 20px;
}

.button:hover {
    width: 100px;
    border: dodgerblue;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    font-size: 12px;
    color: dodgerblue;
    padding: 3px;
    margin-top: 20px;
}

a:link{
    color: dodgerblue;
    font-size: 14px;
    text-decoration: none;
}

a:visited{
    color: dodgerblue;
    font-size: 14px;
    text-decoration: none;
}

a:hover{
    color: #FFFFFF;
    font-size: 14px;
    text-decoration: underline;
}
.flash{
    color: #999999;
    font-size: 14px;
    padding-right: 10px;

}
